<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pc192"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pc192_round"
        android:supportsRtl="true"
        android:configChanges="locale|layoutDirection"
        android:theme="@style/Theme.CaritasRig"
        tools:targetApi="31">

        <activity
            android:name=".activity.CheckActivity"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.auth.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CaritasRig">
        </activity>
        <activity android:name=".activity.homepage.HomeActivity" />
        <activity android:name=".activity.auth.signup.SignUpActivity" />
        <activity android:name=".activity.auth.register.RegisterActivity" />
        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".activity.homepage.profileicon.AboutUsActivity" />
        <activity android:name=".activity.homepage.BuildActivity"/>
        <activity android:name=".activity.homepage.build.CasingActivity"/>
        <activity android:name=".activity.homepage.build.CpuActivity"/>
        <activity android:name=".activity.homepage.build.InternalHardDriveActivity"/>
        <activity android:name=".activity.homepage.build.MemoryActivity"/>
        <activity android:name=".activity.homepage.build.MotherboardActivity"/>
        <activity android:name=".activity.homepage.build.PowerSupplyActivity"/>
        <activity android:name=".activity.homepage.build.VideoCardActivity"/>
        <activity android:name=".activity.homepage.profileicon.SettingsActivity"/>
        <activity android:name=".activity.homepage.profileicon.ProfileSettingsActivity"/>
    </application>

</manifest>